/* Generics */

/* # COUNTDOWN */

#countdown {
	font-weight: bolder;
	font-size: 5rem;
}

/* #NUMBERS */
#numbers-list {
	font-size: 2rem;
	color: red;
	padding: 10px;
}

input {
	width: 80px !important;
}

#button {
	display: flex;
}